baseURL = "http://example.org/"
theme = "LoveIt"
title = "Jack Roberts"
languageCode = "en"
languageName = "English"
hasCJKLanguage = false
copyright = ""
enableRobotsTXT = true
enableGitInfo = true
enableEmoji = true
ignoreErrors = ["error-remote-getjson", "error-missing-instagram-accesstoken"]

[pagination]
  disableAliases = false
  pagerSize = 10
  path = "page"

[menu]
  [[menu.main]]
    weight = 1
    identifier = "posts"
    
    pre = ""
    post = ""
    name = "Posts"
    url = "/posts/"
    
    title = ""
  [[menu.main]]
    weight = 2
    identifier = "tags"
    pre = ""
    post = ""
    name = "Tags"
    url = "/tags/"
    title = ""
[params]
  
  defaultTheme = "auto"
  gitRepo = "https://github.com/jackroberts-gh/jackroberts-gh.github.io"
  fingerprint = ""
  
  dateFormat = "2006-01-02"
  title = "Jack Roberts"
  
  description = "Welcome"
  
  images = ["/logo.png"]

  [params.author]
    name = "Jack Roberts"
    email = ""
    link = ""
  
  [params.header]
    
    desktopMode = "fixed"
    
    mobileMode = "auto"
    
    [params.header.title]
      
      logo = ""
      
      name = "cd ~"
      
      pre = ""
      
      post = ""
      
      typeit = true
  
  [params.footer]
    enable = true
    
    custom = ''
    
    hugo = false
    
    copyright = false
    
    author = true
    
    since = 2025
    
    icp = ""
    
    license = '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'
  
  [params.section]
    
    paginate = 20
    
    dateFormat = "01-02"
    
    rss = 10
  
  [params.list]
    
    paginate = 20
    
    dateFormat = "01-02"
    
    rss = 10
  
  [params.app]
    
    title = "Jack Roberts"
    
    noFavicon = false
    
    svgFavicon = ""
    
    themeColor = ""
    
    iconColor = ""
    
    tileColor = ""
  
  [params.search]
    enable = true
    
    type = "lunr"
    
    contentLength = 4000
    
    placeholder = ""
    
    maxResultLength = 10
    
    snippetLength = 30
    
    highlightTag = "em"
    
    absoluteURL = false
    [params.search.algolia]
      index = ""
      appID = ""
      searchKey = ""
  
  [params.home]
    
    rss = 10
    
    [params.home.profile]
      enable = true
      
      gravatarEmail = ""
      
      avatarURL = "/images/avatar.png"
      
      title = "Senior Platform Engineer @ Kraken"
      
      subtitle = ""
      
      typeit = true
      social = true
      disclaimer = ""
    
    [params.home.posts]
      enable = true
      paginate = 6
      defaultHiddenFromHomePage = true
  
  [params.social]
    GitHub = "jackroberts-gh"
    Lichess = "pneroberts"
    Email = ""
  
  [params.page]
    
    hiddenFromHomePage = false
    
    hiddenFromSearch = false
    
    twemoji = false
    
    lightgallery = true
    
    ruby = true
    
    fraction = true
    
    fontawesome = true
    
    linkToMarkdown = true
    
    rssFullText = false
    
    [params.page.toc]
      
      enable = true
      
      keepStatic = false
      
      auto = true
    
    [params.page.math]
      enable = true
      
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      
      copyTex = true
      
      mhchem = true
    
    [params.page.code]
      
      copy = true
      
      maxShownLines = 50
    
    [params.page.mapbox]
      
      accessToken = ""
      
      lightStyle = "mapbox://styles/mapbox/light-v10?optimize=true"
      
      darkStyle = "mapbox://styles/mapbox/dark-v10?optimize=true"
      
      navigation = true
      
      geolocate = true
      
      scale = true
      
      fullscreen = true
    
    [params.page.share]
      enable = true
      X = true 
      Twitter = false 
      Threads = true 
      Facebook = true
      Linkedin = false
      Whatsapp = false
      Pinterest = false
      Tumblr = false
      HackerNews = true
      Reddit = false
      VK = false
      Buffer = false
      Xing = false
      Line = true
      Instapaper = false
      Pocket = false
      Flipboard = false
      Weibo = true
      Blogger = false
      Baidu = false
      Odnoklassniki = false
      Evernote = false
      Skype = false
      Trello = false
      Diaspora = true 
      Mix = false
      Telegram = true 
    
    [params.page.comment]
      enable = false
      
      [params.page.comment.disqus]
        
        enable = false
        
        shortname = ""
      
      [params.page.comment.gitalk]
        
        enable = false
        owner = ""
        repo = ""
        clientId = ""
        clientSecret = ""
      
      [params.page.comment.valine]
        enable = false
        appId = ""
        appKey = ""
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
        
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
        
        
        
        
        
        emoji = ""
      
      [params.page.comment.facebook]
        enable = false
        width = "100%"
        numPosts = 10
        appId = ""
        
        languageCode = ""
      
      [params.page.comment.telegram]
        enable = false
        siteID = ""
        limit = 5
        height = ""
        color = ""
        colorful = true
        dislikes = false
        outlined = false
      
      [params.page.comment.commento]
        enable = false
      
      [params.page.comment.utterances]
        enable = false
        
        repo = ""
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"
      
      [params.page.comment.giscus]
        
        enable = false
        repo = ""
        repoId = ""
        category = "Announcements"
        categoryId = ""
        
        lang = ""
        mapping = "pathname"
        reactionsEnabled = "1"
        emitMetadata = "0"
        inputPosition = "bottom"
        lazyLoading = false
        lightTheme = "light"
        darkTheme = "dark"
    
    [params.page.library]
      [params.page.library.css]
        
        
        
        
      [params.page.library.js]
        
        
        
        
    
    [params.page.seo]
      
      images = []
      
      [params.page.seo.publisher]
        name = ""
        logoUrl = ""
  
  [params.typeit]
    
    speed = 100
    
    cursorSpeed = 1000
    
    cursorChar = "|"
    
    duration = -1
  
  [params.verification]
    google = ""
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = ""
  
  [params.seo]
    
    image = ""
    
    thumbnailUrl = ""
  
  [params.analytics]
    
    enable = true
    
    [params.analytics.google]
      id = ""
      
      anonymizeIP = true
      
      respectDoNotTrack = false
    
    [params.analytics.fathom]
      id = ""
      
      server = ""
    
    [params.analytics.plausible]
      dataDomain = ""
    
    [params.analytics.yandexMetrica]
      id = ""
  
  [params.cookieconsent]
    enable = false
    
    [params.cookieconsent.content]
      message = ""
      dismiss = ""
      link = ""
  
  [params.cdn]
    
    
    
    
    
    data = ""
  
  [params.compatibility]
    
    polyfill = false
    
    objectFit = false

[markup]
  
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    
    
    noClasses = false
  
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
      
      unsafe = true
  
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6

[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

[Permalinks]
  
  posts = ":filename"

[privacy]
  
  [privacy.googleAnalytics]
    
  [privacy.twitter]
    
  [privacy.youtube]
    

[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

[outputs]
  
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]